# S&P 500

In [1]:
import os

In [2]:
os.getcwd()

'/Users/chengyixu/Desktop/TheWrightStarLLC/1-ETF'

In [5]:
import pandas as pd
from bs4 import BeautifulSoup
import re
import xlwt
import urllib.request,urllib.error
from requests import post
import requests
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt

get_ipython().run_line_magic('matplotlib', 'inline')
from invpy.scrape import *
import investpy
from pandas_datareader import data
import io
import time
import openpyxl

In [6]:
df = pd.read_excel('/Users/chengyixu/Desktop/TheWrightStarLLC/1-ETF/01 ETF Portfolio-updated.xlsx', sheet_name='Symbol')
print(df)

    Symbol Industries
0      PFI  ^sp500-60
1      PGF  ^sp500-50
2      PSP  ^sp500-35
3     KBWD  ^sp500-40
4     KBWP      ^gspe
..     ...        ...
158   SQQQ        NaN
159   SPXS        NaN
160   MIDZ        NaN
161   RUSS        NaN
162    SMN        NaN

[163 rows x 2 columns]

In [5]:
df.iloc[0:9,]

  Symbol Industries
0    PFI  ^sp500-60
1    PGF  ^sp500-50
2    PSP  ^sp500-35
3   KBWD  ^sp500-40
4   KBWP      ^gspe
5   PSCF  ^sp500-55
6    FXO  ^sp500-20
7    IAK  ^sp500-30
8    IXG  ^sp500-45

In [7]:
etflist = df[['Symbol']]
etflist

    Symbol
0      PFI
1      PGF
2      PSP
3     KBWD
4     KBWP
..     ...
158   SQQQ
159   SPXS
160   MIDZ
161   RUSS
162    SMN

[163 rows x 1 columns]

In [7]:
indexList = ['S&P 500 REAL ESTATE','S&P 500 TELECOM SERVICES',
             'S&P 500 HEALTH CARE','S&P 500 FINANCIALS','S&P 500 ENERGY',
             'S&P 500 UTILITIES','S&P 500 INDUSTRIALS','S&P 500 CONSUMER STAPLES',
             'S&P 500 INFORMATION TECHNOLOGY']

In [8]:
investpy.get_index_historical_data(index='S&P 500 REAL ESTATE', country="united states",from_date='03/12/2019',to_date='01/05/2020')

              Open    High     Low   Close     Volume Currency
Date
2019-12-02  234.36  236.53  234.36  236.00   59856284      USD
2019-12-03  235.17  237.94  235.17  237.42   54456640      USD
2019-12-04  236.97  237.56  236.02  237.55   49194184      USD
2019-12-05  238.00  238.81  237.55  237.79   47031448      USD
2019-12-08  238.00  238.66  237.03  238.11   41876792      USD
...            ...     ...     ...     ...        ...      ...
2020-04-26  206.94  211.74  206.87  211.23   71723856      USD
2020-04-27  215.66  217.21  211.08  211.28   88839496      USD
2020-04-28  215.81  216.03  211.73  212.02  112917280      USD
2020-04-29  208.23  211.15  206.94  210.61   98579912      USD
2020-04-30  205.32  206.53  202.61  203.79   81216376      USD

[104 rows x 6 columns]

In [16]:
#get data of recent month
investpy.indices.get_index_recent_data(index='S&P 500 REAL ESTATE',country="united states",as_json=False, order='ascending', interval='Daily')

              Open    High     Low   Close     Volume Currency
Date
2020-04-05  189.97  195.79  189.55  195.02  108376328      USD
2020-04-06  203.72  204.72  195.12  195.25  110200576      USD
2020-04-07  197.45  210.65  195.54  209.71   98072032      USD
2020-04-08  213.02  223.08  213.02  220.50  133064848      USD
2020-04-12  218.78  219.28  209.10  210.39   74309984      USD
2020-04-13  215.45  218.02  214.79  217.24   78694984      USD
2020-04-14  211.39  212.91  207.12  208.96   83679312      USD
2020-04-15  209.93  210.94  206.35  207.72   83194736      USD
2020-04-16  213.73  215.12  210.78  214.41   89905568      USD
2020-04-19  211.07  211.07  206.40  206.40   81175056      USD
2020-04-20  201.41  204.64  200.80  203.08   80992640      USD
2020-04-21  206.53  208.32  204.90  206.95   68876256      USD
2020-04-22  207.14  208.44  203.99  204.49   74102872      USD
2020-04-23  205.45  206.04  202.91  205.08   80281184      USD
2020-04-26  206.94  211.74  206.87  211.23   71723856      USD
2020-04-27  215.66  217.21  211.08  211.28   88839496      USD
2020-04-28  215.81  216.03  211.73  212.02  112917280      USD
2020-04-29  208.23  211.15  206.94  210.61   98579912      USD
2020-04-30  205.32  206.53  202.61  203.79   81216376      USD
2020-05-03  202.35  203.89  199.13  203.76   72068824      USD

In [9]:
def daily_closing_price(indexList,from_date, to_date):
    df_final = pd.DataFrame()
    for i in indexList:
        df = investpy.get_index_historical_data(index= i,
                                            country='united states',
                                            from_date= from_date,
                                            to_date= to_date)
        df_final[[i]]=df.rename(columns={'Close': i})[[i]].reset_index(drop=True)
    
    df_close = df_final.set_index(df.index)
    df_close = df_close.set_index(df_close.index+pd.DateOffset(1))   
    df_changes = df_close.pct_change()

    writer = pd.ExcelWriter('S&P500.xlsx', engine='xlsxwriter')

    df_close.to_excel(writer, sheet_name='Daily Closing Price')
    df_changes.to_excel(writer, sheet_name='Daily Return')
    
    writer.save()

In [10]:
daily_closing_price(indexList,'03/12/2019','01/05/2020')

In [11]:
#anthoer method: but only data of the recent month

In [12]:
url = 'https://www.investing.com/indices/s-p-500-telecom-services-historical-data'
agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36'

request = Request(url, headers={'User-Agent': agent})
html = urlopen(request).read().decode()
soup = BeautifulSoup(html, 'html.parser')

div = soup.find(id="results_box")
table = div.find('table', attrs={'class':'genTbl closedTbl historicalTbl'})
table_rows = table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)

df = pd.DataFrame(res, columns=["date","price", "open", "high", "low","vol","change"])
df.to_csv("data_telecom.csv")

In [13]:
pd.read_csv('data_telecom.csv',index_col=['date'])

              Unnamed: 0   price    open    high     low      vol  change
date
May 04, 2020           0  168.53  167.99  168.64  165.97  205.86M   0.32%
May 01, 2020           1  167.99  170.66  171.05  167.08  214.35M  -1.56%
Apr 30, 2020           2  170.66  170.62  171.86  168.96  320.76M   0.02%
Apr 29, 2020           3  170.62  162.42  172.09  162.42  267.91M   5.05%
Apr 28, 2020           4  162.42  165.55  167.01  162.28  212.03M  -1.89%
Apr 27, 2020           5  165.55  164.63  166.42  164.63  211.36M   0.56%
Apr 24, 2020           6  164.63  162.91  164.67  160.89  206.76M   1.06%
Apr 23, 2020           7  162.91  161.76  164.75  161.76  219.42M   0.71%
Apr 22, 2020           8  161.76  157.99  163.19  157.99  245.55M   2.39%
Apr 21, 2020           9  157.99  163.18  163.18  156.95  244.66M  -3.18%
Apr 20, 2020          10  163.18  164.69  165.11  162.79  187.41M  -0.92%
Apr 17, 2020          11  164.69  162.39  165.31  162.39  233.47M   1.42%
Apr 16, 2020          12  162.39  161.70  163.19  160.44  237.82M   0.43%
Apr 15, 2020          13  161.70  163.41  163.41  160.18  216.79M  -1.05%
Apr 14, 2020          14  163.41  158.29  164.26  158.29  215.64M   3.23%
Apr 13, 2020          15  158.29  158.14  158.54  154.93  204.09M   0.09%
Apr 09, 2020          16  158.14  157.06  159.34  156.27  278.12M   0.69%
Apr 08, 2020          17  157.06  154.51  157.64  153.89  247.97M   1.65%
Apr 07, 2020          18  154.51  153.48  158.14  153.48  302.68M   0.67%
Apr 06, 2020          19  153.48  143.84  154.11  143.84  287.25M   6.70%

# Quotes

In [1]:
import pandas as pd
import numpy as np
import investpy
import datetime
from pandas_datareader import data as pdr
import yfinance as yf
import datetime as dt

/Users/chengyixu/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [23]:
investpy.get_etf_historical_data(etf='Direxion Daily Utilities Bull 3X Shares',
                                      country='united states',
                                      from_date='03/12/2019',
                                      to_date='01/05/2020')

             Open   High    Low  Close Currency Exchange
Date
2019-12-02  42.45  42.69  42.22  42.61      USD     NYSE
2019-12-03  42.56  43.53  42.56  43.50      USD     NYSE
2019-12-04  43.25  43.66  42.98  43.66      USD     NYSE
2019-12-05  43.36  44.03  43.31  43.35      USD     NYSE
2019-12-08  43.35  43.35  42.63  42.83      USD     NYSE
...           ...    ...    ...    ...      ...      ...
2020-04-26  23.41  23.76  23.24  23.50      USD     NYSE
2020-04-27  24.72  25.00  23.40  23.65      USD     NYSE
2020-04-28  24.30  24.30  22.85  23.03      USD     NYSE
2020-04-29  21.50  22.03  20.92  21.48      USD     NYSE
2020-04-30  19.90  20.15  19.80  19.87      USD     NYSE

[108 rows x 6 columns]

In [11]:
start_sp = dt.datetime(2019, 12, 2)
end_sp = dt.datetime(2020, 5, 4)
yf.pdr_override()

In [8]:
etflist = df['Symbol']
etflist

0       PFI
1       PGF
2       PSP
3      KBWD
4      KBWP
       ...
158    SQQQ
159    SPXS
160    MIDZ
161    RUSS
162     SMN
Name: Symbol, Length: 163, dtype: object

In [12]:
df1 = pd.DataFrame()
for x in etflist:
    df1[x] = pdr.get_data_yahoo(x, 
                               start_sp,
                                 end_sp)['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
df1

,PFI,PGF,PSP,KBWD,KBWP,PSCF,FXO,IAK,IXG,IYF,...,DXD,QID,DOG,SBB,RWM,SQQQ,SPXS,MIDZ,RUSS,SMN
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-02,37.880001,18.520000,12.47,21.610001,70.430000,56.279999,32.980000,70.510002,67.029999,134.389999,...,23.830000,25.990000,50.740002,31.190001,38.430000,26.049999,14.84,45.560001,8.85,25.090000
2019-12-03,37.919998,18.580000,12.38,21.549999,69.660004,55.810001,32.669998,69.559998,66.330002,133.369995,...,24.309999,26.360001,51.279999,31.309999,38.549999,26.610001,15.14,46.320000,9.15,25.490000
2019-12-04,38.130001,18.580000,12.49,21.600000,70.290001,56.250000,32.889999,70.010002,67.010002,134.220001,...,24.049999,26.090000,50.990002,31.070000,38.270000,26.209999,14.85,45.270000,8.84,25.450001
2019-12-05,38.189999,18.540001,12.56,21.590000,70.279999,56.279999,33.009998,70.110001,67.029999,134.789993,...,23.990000,26.020000,50.930000,30.980000,38.259998,26.080000,14.77,45.070000,8.89,25.240000
2019-12-06,38.480000,18.549999,12.60,21.780001,70.989998,56.799999,33.279999,70.930000,67.669998,136.059998,...,23.410000,25.480000,50.310001,30.540001,37.799999,25.270000,14.39,43.689999,8.55,24.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-27,32.040001,17.830000,9.07,12.180000,53.459999,36.639999,23.080000,51.709999,49.009998,104.959999,...,22.780001,17.379999,52.250000,36.009998,42.189999,12.350000,10.57,74.329803,9.09,24.530001
2020-04-28,31.900000,17.830000,9.09,12.390000,53.849998,37.959999,23.610001,52.360001,49.840000,105.879997,...,22.809999,17.990000,52.290001,35.250000,41.610001,13.000000,10.73,74.329803,9.09,23.770000
2020-04-29,32.560001,18.020000,9.52,13.000000,55.099998,40.119999,24.840000,54.060001,51.570000,109.320000,...,21.790001,16.760000,51.169998,33.340000,39.570000,11.660000,9.90,74.329803,9.09,22.420000
2020-04-30,31.940001,18.080000,9.28,12.710000,52.770000,38.400002,23.910000,51.990002,50.049999,106.779999,...,22.320000,16.700001,51.790001,34.700001,41.110001,11.580000,10.17,74.329803,9.09,23.750000
2020-05-01,31.170000,17.930000,8.96,12.190000,50.349998,36.810001,22.940001,49.669998,48.560001,103.330002,...,23.440001,17.680000,53.040001,36.119999,42.689999,12.620000,10.97,74.329803,9.09,25.010000

In [14]:
df1.to_excel("quotes.xlsx")